*{
	margin: 0;
	width: 100%;
}

body{
	display: flex;
	flex-direction: column;
}

#header{
	background-color: red;
	height: 15%;
	top: 0;
	align-items: center;
	display: flex;
	position: absolute;
}

#view{
	height: 75%;
	display: flex;
	top: 15%;
	position: absolute;
}

#main{
	background-color: green;
	bottom: 0;
	width: 80%;
	align-items: center;
	display: flex;
}

#menu{
	background-color: yellow;
	top: 0;
	width: 20%;
	display: flex;
}

ul{
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

li{
	border: 1px solid;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 5%;
}

#footer{
	height: 10%;
	bottom: 0;
	background-color: pink;
	align-items: center;
	display: flex;
	position: absolute;
	bottom: 0;
}

#main p, #footer{
	font-size: 20px;
}