body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #121212;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

h1 {
    color: #00bfff;
    font-size: 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

form {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-right: 20px;
    flex: 1;
    max-width: 400px;
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #00bfff;
}

form input[type="text"],
form input[type="datetime-local"],
form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #2e2e2e;
    color: #ffffff;
}

form input[type="submit"] {
    background-color: #00bfff;
    color: #121212;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #008bbf;
}

.ZborTable {
    flex: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #2e2e2e;
}

th {
    background-color: #00bfff;
    color: #121212;
}

td {
    background-color: #1e1e1e;
}

button {
    background-color: #00bfff;
    color: #121212;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008bbf;
}

.cancelButton {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-left: 20px;
}

.cancelButton:hover {
    background-color: #c0392b; 
}