<!-- Geolocation API -->
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
<uses-feature android:name="android.hardware.location.gps" />
<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyB0EwZYo-bDHQlpNyKUf6En3VpJNOud_BM"/>